table,th,td
{
border-collapse:collapse;
border:1px solid black;
margin:4px;
padding:5px;
}
button {
    
}

#profile{
    border: 1px solid;
    padding: 4px;
    position: absolute;
    right: 1em;
}

#sala {
    
}
